<app-header></app-header>
<section class="container bg-light">
  <div class=" mt-2 pt-3">
        <table>
           <tbody *ngFor="let show of shows; let i = index">
              <tr>
                  <td>{{i+1}}. <a class="text-decoration-none text-black px-2" href="{{show.url}}" target="_blank">{{show.title}}</a></td>
              </tr>
              <tr class="ml-4">
                  <td class="text-muted">
                    <small>{{show.score }} point </small>|
                    <small> by {{show.by }}</small>
                  </td>
                </tr>
           </tbody>
        </table>
      </div>
  </section>
  <app-footer></app-footer>
  