<app-header></app-header>

<section class="container bg-light">
    <div class=" mt-2 pt-3">
        <table>
           <tbody *ngFor="let ask of asks; let i = index">
              <tr>
                  <td>{{i+1}}. <a class="text-decoration-none text-black px-2" href="{{ask.url}}" target="_blank">{{ask.title}}</a></td>
              </tr>
              <tr class="ml-4">
                  <td class="text-muted">
                    <small>{{ask.score}} point </small>|
                    <small> by {{ask.by }}</small>
                  </td>
                </tr>
           </tbody>
        </table>
      </div>
  </section>
  <app-footer></app-footer>